[submodule "lib/python-bitcoinlib"]
	path = lib/python-bitcoinlib
	url = git@github.com:petertodd/python-bitcoinlib.git
[submodule "lib/bottle"]
	path = lib/bottle
	url = git@github.com:bottlepy/bottle.git
